<div id="add-app" class="container">
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <span class="title has-text-centered">Add to our collection</span>
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child  has-background-light">
                            <section class="section">
                                <form class="form">
                                    <legend class="subtitle">Add an Article</legend>
                                    <label class="label">Title</label>
                                    <div class="control">
                                        <input v-model="articleTitle" class="input" type="text" placeholder="Title"/>
                                    </div>
                                    <label class="label">Periodical</label>
                                    <div class="control">
                                        <input v-model="articlePeriodicalName" style="width: 50%;" class="input" type="text" placeholder="Where'd you find it?"/>
                                    </div>
                                    <label class="label">Content</label>
                                    <div class="control">
                                        <textarea v-model="articleContent" class="textarea" type="textarea" placeholder="Short description"></textarea>
                                    </div>
                                    <label class="label">URL</label>
                                    <div class="control">
                                        <input v-model="articleUrl" class="input" type="text" placeholder="http://"/>
                                    </div>
                                    <label class="label">Date</label>
                                    <div class="control">
                                        <input v-model="articleDate" style="width: 25%;" class="input" type="date"/>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" style="margin-top: 2rem;" v-on:click="sendArticleForm">Add Article</button>
                                    </div>
                                </form>
                            </section>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-vertical is-6">
            <p class="title" style="visibility: hidden;">And be our star</p>
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child has-background-dark has-text-light">
                        <p class="is-size-7 is-family-monospace" style="padding: 20px;">
                            INSERT INTO Periodicals SET name="<span style="color:rgb(172, 127, 218)">\{{articlePeriodicalName}}</span>" <br/>
                            &nbsp;&nbsp; ON DUPLICATE KEY UPDATE Periodicals.periodicalId=Periodicals.periodicalId; <br/>
                            INSERT INTO Articles (title, content, url, date, periodicalId) VALUES ("<span style="color:mediumseagreen">\{{articleTitle}}</span>", "<span style="color:rgb(137, 235, 181)">\{{articleContent}}</span>", <br/>
                            &nbsp;&nbsp; "<a>\{{articleUrl}}</a>", STR_TO_DATE("<span style="color:rgb(71, 255, 141)">\{{articleDate}}</span>", '%Y-%m-%d'), (SELECT periodicalId FROM Periodicals WHERE name="<span style="color:rgb(172, 127, 218)">\{{articlePeriodicalName}}</span>")) <br/>
                            &nbsp;&nbsp; ON DUPLICATE KEY UPDATE Articles.articleId=Articles.articleId;</p>
                        <br/>
                        <br/>
                        <span class="is-size-7 is-family-monospace" style="white-space: pre;">\{{articleResponseText}}</span>
                    </article>
                </div>
            </div>
        </div>
    </div>
        <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                            <section class="section">
                                <form class="form">
                                    <legend class="subtitle">Add an Author</legend>
                                    <label class="label">First Name</label>
                                    <div class="control">
                                        <input v-model="firstName" class="input" style="width: 50%;" type="text" placeholder="First Name"/>
                                    </div>
                                    <label class="label">Last Name</label>
                                    <div class="control">
                                        <input v-model="lastName" class="input" style="width: 50%;" type="text" placeholder="Last Name"/>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" style="margin-top: 2rem;" v-on:click="sendAuthorForm">Add Author</button>
                                    </div>
                                </form>
                            </section>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child has-background-dark has-text-light">
                        <p class="is-size-7 is-family-monospace" style="padding: 20px;">
                            INSERT INTO Authors (firstName, lastName) VALUES ("<span style="color:turquoise">\{{firstName}}</span>", "<span style="color:turquoise">\{{lastName}}</span>") ON DUPLICATE KEY UPDATE Authors.authorId=Authors.authorId;</p>
                        <br/>
                        <br/>
                        <span class="is-size-7 is-family-monospace" style="white-space: pre;">\{{authorResponseText}}</span>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child  has-background-light">
                            <section class="section">
                                <form class="form">
                                    <legend class="subtitle">Add a Periodical</legend>
                                    <label class="label">Periodical Name</label>
                                    <div class="control">
                                        <input v-model="periodicalName" class="input" style="width: 50%;" type="text" placeholder="Better be real"/>
                                    </div>
                                    <label class="label">Periodical URL</label>
                                    <div class="control">
                                        <input v-model="periodicalUrl" class="input" type="text" placeholder="Don't lie to us"/>
                                    </div>
                                    <div class="control">
                                        <button class="button is-success" style="margin-top: 2rem;" v-on:click="sendPeriodicalForm">Add Periodical</button>
                                    </div>
                                    
                                </form>
                        </section>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child has-background-dark has-text-light">
                        <p class="is-size-7 is-family-monospace" style="padding: 20px;">
                            INSERT INTO Periodicals (name, url) VALUES ("<span style="color:rgb(172, 127, 218)">\{{periodicalName}}</span>", "<a>\{{periodicalUrl}}</a>") ON DUPLICATE KEY UPDATE Periodicals.periodicalId=Periodicals.periodicalId;</p>
                        <br/>
                        <br/>
                        <span class="is-size-7 is-family-monospace" style="white-space: pre;">\{{periodicalResponseText}}</span>
                    </article>
                </div>
            </div>
        </div>
    </div>
        <div class="tile is-ancestor">
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child">
                            <section class="section">
                                <form class="form">
                                    <legend class="subtitle">Add an Article with All Information</legend>
                                    <label class="label">Title</label>
                                    <div class="control">
                                        <input v-model="fullTitle" class="input" type="text" placeholder="Feeling ambitious are we?"/>
                                    </div>
                                    <label class="label">Article URL</label>
                                    <div class="control">
                                        <input v-model="fullUrl" class="input" type="text" placeholder="http://"/>
                                    </div>
                                    <label class="label">Article Content</label>
                                    <div class="control">
                                        <textarea class="textarea" v-model="fullContent" type="textarea" placeholder="Tell me a story"></textarea>
                                    </div>
                                    <label class="label">Author</label>
                                    <div class="control">
                                        <input v-model="fullFirst" class="input" type="text" style="width: 50%;"placeholder="First Name"/>
                                    </div>
                                    <div class="control">
                                        <input v-model="fullLast" class="input" style="margin-top: 1rem; width:50%;"type="text" placeholder="Last Name"/>
                                    </div>
                                    <label class="label" style="margin-top: 1rem;">Periodical Name</label>
                                    <div class="control">
                                        <input v-model="fullPeriodicalName" style="width: 50%;" class="input" type="text" placeholder="Where'd you find it?"/>
                                    </div>
                                    <label class="label">Date</label>
                                    <div class="control">
                                        <input v-model="fullDate" class="input" style="width: 25%;" type="date"/>
                                    </div>
                                    <label class="label">Topic</label>
                                    <span class="helper" >Enter a topic</span>
                                    <div class="control">
                                        <input v-model="fullTopic" class="input" style="width: 50%;" type="text" placeholder="Keep it broad"/>
                                    </div>
                                    <div class="control">
                                        <button class="button is-danger" style="margin-top: 2rem;" v-on:click="sendFullArticleForm">Break Everything</button>
                                    </div>
                                    
                                </form>
                        </section>
                    </article>
                </div>
            </div>
        </div>
        <div class="tile is-vertical is-6">
            <div class="tile">
                <div class="tile is-parent is-vertical">
                    <article class="tile is-child has-background-dark has-text-light">
                        <p class="is-size-7 is-family-monospace" style="padding: 20px;">
                            INSERT INTO Topics SET name = "<span style="color:yellow">\{{fullTopic}}</span>" <br/>
                            &nbsp;&nbsp; ON DUPLICATE KEY UPDATE Topics.topicId=Topics.topicId;<br/>
                            INSERT INTO Periodicals SET name="<span style="color:rgb(172, 127, 218)">\{{fullPeriodicalName}}</span>" <br/>
                            &nbsp;&nbsp; ON DUPLICATE KEY UPDATE Periodicals.periodicalId=Periodicals.periodicalId;<br/>
                            INSERT INTO Articles (title, content, url, date, periodicalId) VALUES ("<span style="color:mediumseagreen">\{{fullTitle}}</span>", "<span style="color:rgb(137, 235, 181)">\{{fullContent}}</span>", "<a>\{{fullUrl}}</a>", STR_TO_DATE("<span style="color:rgb(71, 255, 141)">\{{fullDate}}</span>", '%Y-%m-%d'),<br/> 
                            &nbsp;&nbsp; (SELECT periodicalId FROM Periodicals WHERE Periodicals.name="<span style="color:rgb(172, 127, 218)">\{{fullPeriodicalName}}</span>"))<br/> 
                            &nbsp;&nbsp; ON DUPLICATE KEY UPDATE Articles.articleId=Articles.articleId;<br/>
                            INSERT INTO Authors (firstName, lastName) VALUES ("<span style="color:turquoise">\{{fullFirst}}</span>", "<span style="color:turquoise">\{{fullLast}}</span>") ON DUPLICATE KEY UPDATE Authors.authorId=Authors.authorId;<br/>
                            INSERT INTO ArticleTopics (articleId, topicId) VALUES ((SELECT articleId FROM Articles WHERE Articles.title="<span style="color:mediumseagreen">\{{fullTitle}}</span>" AND Articles.url="<a>\{{fullUrl}}</a>"), <br/>
                            &nbsp;&nbsp; (SELECT topicId FROM Topics WHERE Topics.name="<span style="color:yellow">\{{fullTopic}}</span>"));<br/>
                            INSERT INTO AuthorArticles (authorId, articleId) VALUES ((SELECT authorId FROM Authors WHERE Authors.firstName="<span style="color:turquoise">\{{fullFirst}}</span>" AND Authors.lastName="<span style="color:turquoise">\{{fullLast}}</span>"), <br/>
                            &nbsp;&nbsp; (SELECT articleId FROM Articles WHERE Articles.title = "<span style="color:mediumseagreen">\{{fullTitle}}</span>" AND Articles.url = "<a>\{{fullUrl}}</a>"));<br/>
                            INSERT INTO PeriodicalArticles (periodicalId, articleId) VALUES ((SELECT periodicalId FROM Periodicals WHERE Periodicals.name="<span style="color:rgb(172, 127, 218)">\{{fullPeriodicalName}}</span>"), <br/>
                            &nbsp;&nbsp; (SELECT articleId FROM Articles WHERE Articles.title = "<span style="color:mediumseagreen">\{{fullTitle}}</span>" AND Articles.url = "<a>\{{fullUrl}}</a>"));</p>
                        <br/>
                        <br/>
                        <span class="is-size-7 is-family-monospace" style="white-space: pre;">\{{fullArticleResponseText}}</span>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
<script>
function showAlert(){
    alert("")
}

async function postReq(url='', data={}){
  const response = await fetch(url,{
    method: "POST",
    headers:{
      'Content-Type':'application/json'
    },
    body: JSON.stringify(data)
  })
  
  return response.json()
}

var addApp = new Vue({
    el:"#add-app",
    data: {
        articleTitle: '',
        articleContent: '',
        articleUrl: '',
        articleDate: '',
        articlePeriodicalName: '',
        periodicalName: '',
        firstName: '',
        lastName: '',
        periodicalUrl: '',
        fullTitle: '',
        fullContent: '',
        fullUrl: '',
        fullDate: '',
        fullPeriodicalName: '',
        fullFirst: '',
        fullLast: '',
        fullTopic: '',
        articleResponseText: '',
        authorResponseText: '',
        periodicalResponseText: '',
        fullArticleResponseText: ''
    },
    methods:{
    sendArticleForm: async function(event){
        event.preventDefault();
        var jsonObj = {
            "periodicalName": this.articlePeriodicalName,
            "title": this.articleTitle,
            "content": this.articleContent,
            "date": this.articleDate,
            "url": this.articleUrl
        }
        var response = await postReq('/api/sendArticleForm', jsonObj)
        var keys = Object.keys(response)
        for(i=0;i<response.length;i++){
        let keys = Object.keys(response[i])
        for(j=0;j<keys.length;j++){
        if(j==0){
        this.articleResponseText += `
        `
        }
        this.articleResponseText += `${keys[j]}: ${response[i][keys[j]]}
        `
            }
        }
    },
    sendAuthorForm: async function(event){
        event.preventDefault();
        var jsonObj = {
            "firstName": this.firstName,
            "lastName": this.lastName
        }
        var response = await postReq('/api/sendAuthorForm', jsonObj)
        var keys = Object.keys(response)
        for(i=0;i<keys.length;i++){
                if(i==0){
        this.authorResponseText += `
        `
        }
        this.authorResponseText += `${keys[i]}: ${response[keys[i]]}
        `
            }
    },
    sendPeriodicalForm: async function(event){
        event.preventDefault();
        var jsonObj = {
            "periodicalName": this.periodicalName,
            "periodicalUrl": this.periodicalUrl
        }
        var response = await postReq('/api/sendPeriodicalForm', jsonObj)
        var keys = Object.keys(response)
        for(i=0;i<keys.length;i++){
        if(i==0){
        this.periodicalResponseText += `
        `
        }
        this.periodicalResponseText += `${keys[i]}: ${response[keys[i]]}
        `
            }
    },
    sendFullArticleForm: async function(event){
        event.preventDefault();
        var jsonObj = {
            "title": this.fullTitle,
            "url": this.fullUrl,
            "content": this.fullContent,
            "firstName": this.fullFirst,
            "lastName": this.fullLast,
            "periodicalName": this.fullPeriodicalName,
            "date": this.fullDate,
            "topic": this.fullTopic
        }
        var response = await postReq('/api/sendFullArticleForm', jsonObj)
        for(i=0;i<response.length;i++){
        let keys = Object.keys(response[i])
        for(j=0;j<keys.length;j++){
        if(j==0){
        this.fullArticleResponseText += `
        `
        }
        this.fullArticleResponseText += `${keys[j]}: ${response[i][keys[j]]}
        `
            }
        }

    }
    }

})
</script>